.-PRODUCT-IMAGE- {
  width: 330px;
  height: 64px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.31px;
  text-align: center;
  color: #0768a6;
}