{% extends "template.html" %}
{% block content %}

<style>
   :root {
   --windows-blue: #365ec8;
   --bluish: #3091c9;
   --warm-blue: #5460dc;
   --white: #ffffff;
   --dusk-blue: #28499f;
   --bluey-grey: #85a5c2;
   --light-sky-blue: #d4e3f0;
   --lipstick: #bb166b;
   --bluish-grey-20: rgba(115, 137, 156, 0.2);
   --topaz: #16b8bb;
   --aquamarine: #00d7af;
   --metallic-blue: #546593;
   --bluish-grey: #73899c;
   --very-light-pink: #d7d7d7;
   --gray-medium: rgba(205, 205, 210, 0.5);
   --text: #77777a;
   ---style: #002251;
   }
   .Rectangle {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   background-color: var(--windows-blue);
   }
   .Rectangle_dark {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   background-color: var(--bluish-grey);
   }
   .Rectangle_without_color {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 400;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   }

med   
.button_1{

    margin-left: 800%;
}
.button_2{

    margin-left: 1000%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>


<div class="p-3">
 <div class="p-1 mb-3">
      <div class="tx-dark tx-15 tx-bold">PRODUCTION PLAN</div>
   </div>


<div class="tx-dark tx-15 tx-bold">MACHINE PRODUCTION PLAN 
   
</div>

<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
      <div id="table_button">
            
      </div>
      
      <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
      <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control mr-2" placeholder="Search" >
      </div>
   </div>
   
   
      <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
         <thead class="bg-dark tx-white">
            <tr>
               <th>SR.NO.</th>
               <th>MACHINE NAME</th>
               <th>TOTAL PLANNED Qty.</th>
            </tr>
         </thead>
         <tbody id="tablebody">
         </tbody>
      </table>
<hr>
<div class="tx-dark tx-15 tx-bold mb-3 mt-2">PARTS PRODUCTION PLAN</div>
<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
      <div id="table_button2">
      </div>
      <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
      <div class="input-group">
         <input type="text" id="datatable2_search" class="form-control" placeholder="Search" >
      </div>
   </div>
      <table id="datatable2" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
         <thead class="bg-dark tx-white">
            <tr>
               <th>SR.NO.</th>
               <th>MACHINE Name</th>
               <th>PART DESCRIPTION</th>
               <th>REQD.QTY AS PER BOM</th>
               <th>TOTAL REQUIRED QTY</th>
            </tr>
         </thead>
         <tbody id="tablebody2">
         </tbody>
      </table>
   </div> 

   <div class="modal-dialog modal-dialog-centered">
      <div class="modal" id="reset_modal"  aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-body">
              <div class="d-flex justify-content-center">
                <div id = "loading" class="loader row"> </div>
              </div>
              <div style="color: #ffff">Please wait till auto refresh........
              </div>
            </div>
          </div>
      </div>
  </div>

<script type="text/javascript"> 


     $('#reset_modal').modal('show');
    document.getElementById("loading").style.display = "block";

    $.fn.dataTable.ext.errMode = 'none';
    var socket = io.connect('http://'+document.domain+':'+location.port);
    var arr = [];
    
      
    socket.emit('send_machine_sales_data');

    socket.on('get_machine_sales_data',function(data){
    console.log(data)

          
    var str ='';
        for(var i=0;i<data.length;i++){
            arr.push(i+1)
            str +='<tr>'
            str +='<td>'+String(i+1)+'</td>';
            str +='<td>'+ data[i]['_id']+'</td>';
            if(data[i]['Total'] == undefined ){
              str +='<td>'+"-" +'</td>';
            }
            else{
               str +='<td id= "'+(i+1)+'" contentEditable="false">'+data[i]['Total']+'</td>';
            }
     
             str +='</tr>'
          }

      document.getElementById("tablebody").innerHTML = str;


        console.log("tableeeee");
      
      $('#datatable1').dataTable().fnDestroy();
     var table1 = $('#datatable1').DataTable( {
              //"scrollX": true,
            lengthChange: false,
            "dom": 'lrtip',
            "deferRender": true,
            "initComplete": function (settings, json) {
            $("#datatable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            },
      
      buttons: [
                  { 
                      // class :"btn btn-lg"
                      extend: 'collection',
                      text: 'Export',
                      autoClose: true,
                      buttons: [
                      {
                      extend:    'copy',
                      text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                      titleAttr: 'Copy'
                      },
                      {
                      extend:    'excel',
                      text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                      titleAttr: 'Excel'
                      },
                      {
                      extend:    'pdf',
                      text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                      titleAttr: 'PDF'
                      },
                      {
                      extend:    'print',
                      text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                      titleAttr: 'Print'
                      },
                      {
                      extend:    'csv',
                      text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                      titleAttr: 'CSV'
                      },
                      {
                      extend:    'colvis',
                      text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                      titleAttr: 'Columns'
                      },
                      ]
                  }


              ]
      
      
          } );
        table1.buttons( 0, null ).containers().appendTo( '#table_button' );
      
        $('#datatable1_search').on( 'keyup', function () {
        table1.search( this.value ).draw();
        console.log("working")
          } );
       });


 //=======================  second tabel ======================================= 
window.onload = second_table();

function second_table(){
   $.ajax({
        type: 'POST',
        url: '/part_plan_data',
        data: JSON.stringify("done"),
        cache: false,
        contentType: 'application/json',
        success: function (data) {
            console.log(data);
            // $('#reset_modal').modal('hide');
        $('#reset_modal').modal('hide');
        document.getElementById("loading").style.display = "none";   

        var inner_html ='';
        var cnt = 0;
              for(var i=0;i<data.length;i++){
                    inner_html +='<tr>'
                    inner_html +='<td>'+String(i+1)+'</td>';
                    inner_html +='<td>'+ data[i]['machine_name']+'</td>';
                    inner_html +='<td>'+ data[i]['assembly_name']+'</td>';
                    inner_html +='<td>'+ data[i]['required_machine']+'</td>';
                    inner_html +='<td>'+ data[i]['total_required']+'</td>';
                  }
            document.getElementById("tablebody2").innerHTML = inner_html;

            $('#datatable2').dataTable().fnDestroy();

        var table1 = $('#datatable2').DataTable( {
              //"scrollX": true,
            lengthChange: false,
            "dom": 'lrtip',
            "deferRender": true,
            "initComplete": function (settings, json) {
            $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            },
      
      buttons: [
                  { 
                      // class :"btn btn-lg"
                      extend: 'collection',
                      text: 'Export',
                      autoClose: true,
                      buttons: [
                      {
                      extend:    'copy',
                      text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                      titleAttr: 'Copy'
                      },
                      {
                      extend:    'excel',
                      text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                      titleAttr: 'Excel'
                      },
                      {
                      extend:    'pdf',
                      text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                      titleAttr: 'PDF'
                      },
                      {
                      extend:    'print',
                      text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                      titleAttr: 'Print'
                      },
                      {
                      extend:    'csv',
                      text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                      titleAttr: 'CSV'
                      },
                      {
                      extend:    'colvis',
                      text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                      titleAttr: 'Columns'
                      },
                      ]
                  }


              ]
      
      
          } );
        table1.buttons( 0, null ).containers().appendTo( '#table_button2' );
      
        $('#datatable2_search').on( 'keyup', function () {
        table1.search( this.value ).draw();
        console.log("working")
          } );

     
        }
    });

}





function edit_machine(machine,totalsum){
    // console.log("daytagashj",machine)
     $('#exampleModal').modal('show');
     document.getElementById("machine_name").value = machine
     document.getElementById("total").value = totalsum

}
function save_changes(){
  
  machine = document.getElementById("machine_name").value 
  totalsum = document.getElementById("total").value

  console.log(machine,totalsum)
  data = {"machine":machine,"totalsum":totalsum};
  socket.emit("change_in_machine_plan",data);
 
  $('#exampleModal').modal('hide');
  location.reload();
  socket.emit('send_machine_sales_data');
  socket.emit('part_plan_data');
  


}



function reset_machine(machine){
  
  $.ajax({
        type: 'POST',
        url: '/reset_machine_data',
        data: JSON.stringify(machine),
        contentType: 'application/json',
        success: function (data) {
            location.reload();
            
        }
    });
}



      
   </script>

{% endblock %}