{% extends "template.html" %}
{% block content %}
<style>
   :root {
   --windows-blue: #365ec8;
   --bluish: #3091c9;
   --warm-blue: #5460dc;
   --white: #ffffff;
   --dusk-blue: #28499f;
   --bluey-grey: #85a5c2;
   --light-sky-blue: #d4e3f0;
   --lipstick: #bb166b;
   --bluish-grey-20: rgba(115, 137, 156, 0.2);
   --topaz: #16b8bb;
   --aquamarine: #00d7af;
   --metallic-blue: #546593;
   --bluish-grey: #73899c;
   --very-light-pink: #d7d7d7;
   --gray-medium: rgba(205, 205, 210, 0.5);
   --text: #77777a;
   ---style: #002251;
   }
   .Rectangle {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   background-color: var(--windows-blue);
   }
   .Rectangle_dark {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   background-color: var(--bluish-grey);
   }
   .Rectangle_without_color {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 400;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   }
.label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.input,
.label {
    margin: .4rem 0;
}


</style>
<div class="p-3">
 <div class="p-1 mb-3">
      <div class="tx-dark tx-15 tx-bold">SALES ORDER</div>
   </div>

<!-- <div class=" col-md-3 col-sm-3 col-lg-3 mb-3" style="border-radius:10px">

<label class="tx-black" for="start">Start month:</label>

<input class="form-control form-control-sm " type="month" id="start" name="start" value="">

<label class="tx-white"></label>

<div class="input-group"  >
<button class="btn btn-sm table-grey-border-btn btn-block" onclick="get_month_year()">Search</button>
</div>
</div> -->
<!-- <hr> -->
<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
      <div id="table_button">
      </div>
      <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
      <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
      </div>
   </div>


   <table id="mydatatable" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
      <thead class="bg-dark tx-white">
         <tr>
            <th>SR.NO.</th>
            <th>SALES ORDER NUMBER</th>
            <th>VOUCHER TYPE</th>
            <th>VOUCHER NUMBER</th>
            <th>VOUCHER DATE</th>
            <th>PORTAL ORDER NUMBER</th>
            <th>MACHIINE CODE</th>
            <th>MACHINE NAME</th>
            <th>QUANTITY</th>
         </tr>
      </thead>
      <tbody id="tablebody">
     
       
      </tbody>
   </table>
</div>
   <script type="text/javascript"> 


       $.fn.dataTable.ext.errMode = 'none';
    var socket = io.connect('http://'+document.domain+':'+location.port);

    socket.emit("get_month_year");


      // $('#mydatatable').dataTable().fnDestroy(); socket.emit("get_month_year");

    socket.on("send_month_year",function(data){
        
        console.log(data)

      // $('#mydatatable').dataTable().fnDestroy();
      
     
      
      inner_html="";
      
      
      console.log("i am here")
      
      for(var j=0; j< data.length;j++){
        
        inner_html += '<tr>'
        inner_html += '<td>'+String(j+1)+'</td>';
        inner_html += '<td>'+data[j]["sales_order_no"]+'</td>';
        inner_html += '<td>'+data[j]["voucher_type"]+'</td>';
        
        inner_html += '<td>'+data[j]["voucher_number"]+'</td>';
        inner_html += '<td>'+data[j]["voucher_date"]+'</td>';
        inner_html += '<td>'+data[j]["portal_order_no"]+'</td>';
        
        if(data[j]["machine_code"] == undefined){
            inner_html += '<td>'+'-'+'</td>';

        }
        else{
            inner_html += '<td>'+data[j]["machine_code"]+'</td>';
        }    
        
        inner_html += '<td>'+data[j]["machine_name"]+'</td>';
        inner_html += '<td>'+data[j]["avl_qty"]+'</td>';

        inner_html += '</tr>';
        
      
      }
      
      document.getElementById("tablebody").innerHTML = inner_html;
      
        // console.log("tableeeee");
      
       $('#mydatatable').dataTable().fnDestroy();
       
       var table1 = $('#mydatatable').DataTable( {
              //"scrollX": true,
              "pageLength": 10,
              lengthChange: false,
              "dom": 'lrtip',
              "deferRender": true,
              "initComplete": function (settings, json) {
          $("#mydatatable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
        },
      
      
      buttons: [
                  {
                      extend: 'collection',
                      text: 'Export',
                      autoClose: true,
                      buttons: [
                      {
                      extend:    'copy',
                      text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                      titleAttr: 'Copy'
                      },
                      {
                      extend:    'excel',
                      text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                      titleAttr: 'Excel'
                      },
                      {
                      extend:    'pdf',
                      text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                      titleAttr: 'PDF'
                      },
                      {
                      extend:    'print',
                      text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                      titleAttr: 'Print'
                      },
                      {
                      extend:    'csv',
                      text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                      titleAttr: 'CSV'
                      },
                      {
                      extend:    'colvis',
                      text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                      titleAttr: 'Columns'
                      },
                      ]
                  }
              ]
      
      
          } );
          table1.buttons( 0, null ).containers().appendTo( '#table_button' );
      
       // #myInput is a <input type="text"> element
      $('#datatable1_search').on( 'keyup', function () {
          table1.search( this.value ).draw();
          console.log("working")
      } );
      



    });


// }

       
   </script>
</div>
{% endblock %}