{% extends "template.html" %}
{% block content %}
<style>
   :root {
   --windows-blue: #365ec8;
   --bluish: #3091c9;
   --warm-blue: #5460dc;
   --white: #ffffff;
   --dusk-blue: #28499f;
   --bluey-grey: #85a5c2;
   --light-sky-blue: #d4e3f0;
   --lipstick: #bb166b;
   --bluish-grey-20: rgba(115, 137, 156, 0.2);
   --topaz: #16b8bb;
   --aquamarine: #00d7af;
   --metallic-blue: #546593;
   --bluish-grey: #73899c;
   --very-light-pink: #d7d7d7;
   --gray-medium: rgba(205, 205, 210, 0.5);
   --text: #77777a;
   ---style: #002251;
   }
   .Rectangle {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   background-color: var(--windows-blue);
   }
   .Rectangle_dark {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   background-color: var(--bluish-grey);
   }
   .Rectangle_without_color {
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 400;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: 1.75px;
   text-align: center;
   color: var(--white);
   border-radius: 5px;
   box-shadow: 0 2px 6px 0 #b9b9b9;
   }
.label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.input,
.label {
    margin: .4rem 0;
}


</style>
<div class="p-3">
 <div class="p-1 mb-3">
      <div class="tx-dark tx-15 tx-bold">MACHINERY COMPONENTS</div>
   </div>
<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
      <div id="table_button">
      </div>
      <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
      <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
      </div>
   </div>


   <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
      <thead class="bg-dark tx-white">
         <tr>
            <th>SR.NO.</th>
            <th>BOM LEVEL</th>
            <th>ASSEMBLY NAME</th>
            <th>BOM QUANTITY</th>
            <th>QUANTITY</th>
            <th>MACHINERY COMPONENTS</th>
         </tr>
      </thead>
      <tbody id="tablebody">
   
       
      </tbody>
   </table>
</div>
   <script type="text/javascript"> 

      console.log("showing jinja variable")
      console.log("{{data}}")
      console.log("{{bomvalue}}")


       $.fn.dataTable.ext.errMode = 'none';
      var socket = io.connect('http://'+document.domain+':'+location.port);
      
      socket.on('connect', function() {
         console.log('connected');
         
      });

      var data1 = "{{data}}"
      var data2 = "{{bomvalue}}"
      
      if( data2 == ''){
        socket.emit('array_machinery_components','{{data}}');

      }
      else{
        socket.emit('machinery_components_parts','{{data}}','{{bomvalue}}');
      }
      
      // socket.emit('array_machinery_components','{{data}}');
      
      socket.on('send_array_machinery_components', function(data) {
      
      console.log(data[0]);
     

      $('#datatable1').dataTable().fnDestroy();

      
      inner_html="";
      
      
      console.log("i am here")
      
      
      for(var j=0; j< data[0].length;j++){
        
        inner_html += '<tr>'
        inner_html += '<td>'+String(j+1)+'</td>';
        inner_html += '<td>'+data[0][j]["bom_level"]+'</td>';
        inner_html += '<td>'+data[0][j]["assembly_name"]+'</td>';
        inner_html += '<td>'+data[0][j]["bom_qty"]+'</td>';
        inner_html += '<td>'+data[0][j]["avl_qty"]+'</td>';

        // if(data[0][j]["machinery_components"] == undefined){

            // inner_html += '<td>'+'-'+'</td>';
        // }
        // else{

        // inner_html += '<td style="text-align:center"><button type="button" class="btn btn-sm btn-info Rectangle_without_color" id="'+"{{data}}"+'" onclick="view_machinery_component(this,\''+data[0][j]["bom_level"]+'\')">VIEW</button> </td>'

        // }
        inner_html += '<td style="text-align:center"><button type="button" class="btn btn-sm btn-info Rectangle_without_color" id="'+"{{data}}"+'">VIEW</button> </td>'

        inner_html += '</tr>';
        
      
      }
      
      document.getElementById("tablebody").innerHTML = inner_html;
      
      
      if (j > 0)
      
      {
        console.log("tableeeee");
      
      
       var table1 = $('#datatable1').DataTable( {
              //"scrollX": true,
              lengthChange: false,
              "dom": 'lrtip',
              "deferRender": true,
              "initComplete": function (settings, json) {
          $("#datatable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
        },
      
      
      buttons: [
                  {
                      extend: 'collection',
                      text: 'Export',
                      autoClose: true,
                      buttons: [
                      {
                      extend:    'copy',
                      text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                      titleAttr: 'Copy'
                      },
                      {
                      extend:    'excel',
                      text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                      titleAttr: 'Excel'
                      },
                      {
                      extend:    'pdf',
                      text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                      titleAttr: 'PDF'
                      },
                      {
                      extend:    'print',
                      text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                      titleAttr: 'Print'
                      },
                      {
                      extend:    'csv',
                      text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                      titleAttr: 'CSV'
                      },
                      {
                      extend:    'colvis',
                      text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                      titleAttr: 'Columns'
                      },
                      ]
                  }
              ]
      
      
          } );
          table1.buttons( 0, null ).containers().appendTo( '#table_button' );
      
       // #myInput is a <input type="text"> element
      $('#datatable1_search').on( 'keyup', function () {
          table1.search( this.value ).draw();
          console.log("working")
      } );
      
      }
      });
      

function view_machinery_component(element,bom_lvl){

    const record = element.id;
    const bom_value = bom_lvl
    // console.log(record)
    window.location.href = "/template_machinery_component/"+record+"/"+bom_value;

}

      
   </script>
</div>
{% endblock %}