
table3 = ''
table3 += '<tr>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="3" valign="middle" height="18" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="2" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="5" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="4" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="2" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="3" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="2" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table3 += '  colspan="3" valign="middle" align="center" >'
table3 += '   <font size="1" face="Arial"></font>'
table3 += '</td>'
table3 += '</tr>'

  document.getElementById("table_3").innerHTML += table3;



table4 = ""
table4 += '<tr>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="3" valign="middle" height="18" align="center" id="SPR253">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR254">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR255">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR256">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="5" valign="middle" align="center" id="SPR257">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="4" valign="middle" align="center" id="SPR258">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR259">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="8" valign="center" align="center"><b>'
table4 += '      <font size="1" face="Arial">PRODUCTION SUMMARY</font>'
table4 += '    </b></td>'
table4 += '</tr>'

table4 += '<tr>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="3" valign="middle" height="18" align="center" id="SPR260">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR261">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR262">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR263">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="5" valign="middle" align="center" id="SPR264">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="4" valign="middle" align="center" id="SPR265">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR266">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="8" rowspan="3" valign="center" align="center" id="SPR267">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '</tr>'
table4 += '<tr>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="3" valign="middle" height="18" align="center" id="SPR282">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR283">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR284">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR285">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="5" valign="middle" align="center" id="SPR286">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="4" valign="middle" align="center" id="SPR287">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR288">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '</tr>'

table4 += '<tr>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="3" valign="middle" height="18" align="center" id="SPR289">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR290">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    valign="middle" align="center" id="SPR291">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR292">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="5" valign="middle" align="center" id="SPR293">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="4" valign="middle" align="center" id="SPR294">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '  <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"'
table4 += '    colspan="2" valign="middle" align="center" id="SPR295">'
table4 += '     <font size="1" face="Arial"></font>'
table4 += '  </td>'
table4 += '</tr>'


  document.getElementById("table_3").innerHTML += table4;
